*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/* intestazione pagina */

header{
    height: 100px;
    background-color: white;
}
header img{
    width: 70px;
    vertical-align: middle;
    margin: 10px 15px;
}

h1{
    display: inline-block;
    font-size: 50px;
     vertical-align:middle;
}
body{
    background-color: rgb(236, 236, 236);
}

/* button section */

.buttons-container{
    height: 60px;
    width: 70%;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 3px;
    border-radius:10px 10px 0 0;
    padding: 17px;
}

.add-task{
    width: 100px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 40px;
    background-color:#30b0eb;
    color: white;
    font-size: 16px;
   }
.add-section{
    width: 120px;
    height: 35px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    color: grey;
    font-size: 16px; 
}

/* list-section */

.list-container{
padding: 40px 60px 0px;
}

 .lists-mega-container{
 height: 800px;
 width: 70%;
 background-color: white;
 margin: auto;
 border-radius: 0 0 10px 10px;
 }

.list-title{
    color: rgb(54, 53, 53);
    font-size: 25px;
    margin: 0px 0 10px 10px;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 30px;
}
li span.green-tick{
    color: rgb(107, 206, 156);
    font-size: 15px;
    border: 2px solid rgb(107, 206, 156);
    border-radius: 60%;
    margin: 5px 5px;
    padding: 1px;
}
li span.red-cross{
    color: red;
    font-size: 15px;
    border: 2px solid red;
    border-radius: 60%;
    margin: 5px 5px;
    padding: 1px;

}
.li-text{
    font-size: 20px;
    margin-left: 5px;
}
.arrow{
    font-size: 12px;
    margin-right: 10px;
}
li span.box{
    width: 120px;
    height: 35px;
    border-radius: 15px;
    color: white;
    padding: 10px;
}

/* color-box */

.orange{
    background-color: orange;
}

.green{
    background-color: rgb(107, 206, 156);;
}
.blue{
    background-color: #30b0eb;
}
.purple{
    background-color: #631ebe;
}

.lightpurple{
    background-color: rgb(224, 99, 224);
}
.lightgreen{
    background-color: rgb(171, 226, 171);
}